<h1>Whatever heading your would like to appear on your page</h1>

<p>Whatever message you want to type here</p>

<form action ='/detector' method='get'>
  <div class="form-group">
    <label for="userinput">This message will show up on your page</lable>
    <input id="userinput" name="userinput" class="form-contol" type="text">
  </div>

  <button type="submit" class="btn btn-info">This message will be inside of the button</button>
</form>
